!/.venv*/src/
!/venv*/src/
.copier-answers.yml
.eggs/
.installed.cfg
.pytest_cache/
.Python
.spyproject/
.vscode/
*.bak
*.egg
*.egg-info
*.egg-info/
*.py[cod]
*.py[cod]
*.pyc
*.so
*.whl
**/__pycache__
*~
*$py.class
_work/
/.*project
/.cache/
/.cproject
/.pydevproject
/.pytest_cache/
/.settings/
/.spyproject/
/.venv*/
/.vscode/
/.vscode/*
/.vsls.json
/0/
/compile_commands.json
/dist/
/invoke.yaml
/venv*/
build/
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
share/python-wheels/
var/
wheels/
